{% extends "layout.html" %}

{% block body %}
<h3>Vizyondakiler</h3>
<hr>
<font size="5" face="Arial" color="	#DAA520">Filmler</font> 
<hr>
<h5>Bandırma Füze Kulübü</h5>
<a href="https://www.youtube.com/watch?v=-Sgc8Kw1OUI">Fragman</a>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ4yP6i6r2w5m78hMSOYBYcmbcpnxm8q355JMt9u3VltqB6r8d17wUexnd-umhRKrVHpI&usqp=CAU" width="100" height="100" border="0" align="right"/>
<p>60 yıl kadar önce, dünyayı kasıp kavuran bir merak konusu vardı: Uzay. Böyle bir dönemde, bir grup lise öğrencisi ve arkadaşları Bandırma'da benzer bir merak duyup Bandırma Füze Kulübü isimli bir kulüp kurarlar. Bu grubun hayali ise uzaya bir roket göndermektir.</p>
&nbsp;
<hr>
<h5>The Truman Show</h5>
<a href="https://www.youtube.com/watch?v=TJvUTLVwoHM">Fragman</a>
<img src="https://s3.cloud.ngn.com.tr/kitantik/images/2020-05-16/0z8kgltka7tst051ldd.jpg" width="100" height="100" border="0" align="right"/>
<p>Truman çok güzel bir adada yaşamaktadır fakat bu ada, Truman dışında her şeyin sahte olduğu bir ortamdır ve doğduğu günden itibaren devamlı olarak seyirciler tarafından izlenmiştir. Truman, bunun hiç farkında olmaz, ta ki öldüğünü sandığı babasını görene dek.</p>
&nbsp;
<hr>
<h5>Back to the Future</h5>
<a href="https://www.youtube.com/watch?v=qvsgGtivCgs">Fragman</a>
<img src="https://images.ctfassets.net/6pezt69ih962/13qtegEz9ffYhBE6LFTJNk/fb7e6bca2db360309ee0aa52cbb4b9d4/7899-1631880130-bttfencore1080x1080.jpg" width="100" height="100" border="0" align="right"/>
<p>Bir delikanlının kazara 1985 yılından 1955 yılına gitmesi konu edilir. Lisede okuyan anne ve babası ile tanışan genç, yanlışlıkla annesinin romantik ilgisini çeker. Anne ve babasının aşık olmasını engellediği için hatasını telafi edip, 1985 yılına geri dönmek zorundadır.</p>
&nbsp;
<hr>
<font size="5" face="Arial" color="	#DAA520">Animasyonlar</font> 
<hr>
<h5>Minyonlar</h5>
<a href="https://www.youtube.com/watch?v=P0PpjAgg2Gc">Fragman</a>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Fi5rYJrSOosMPcKbEVEFPIUydVo2xCO-8g&usqp=CAU" width="100" height="100" border="0" align="right"/>
<p>Tek hücreli sarı organizmalar olarak doğan Minyonlar, zaman içinde gelişir ve her zaman efendilerin en çılgınına hizmet ederler. T-reks'ten Napolyon'a kadar bu efendileri elde tutma konusunda sürekli başarısız olan Minyonlar hizmet edecekleri kimseleri kalmayınca büyük bir depresyona girerler. Ama Kevin adlı minyonun bir planı vardır. Genç asi Stuart ve sevimli minik Bob ile birlikte kardeşlerinin izinden gideceği kötü bir patron bulmak üzere işe koyulacaklardır. </p>
&nbsp;
<hr>
<h5>Madagaskar</h5>
<a href="https://www.youtube.com/watch?v=w_O7oC03A2U">Fragman</a>
<img src="https://cocuklasinema.com/assets/admin/images/movie/qhihmadagascar.jpg" width="100" height="100" border="0" align="right"/>
<p>Aslan Alex, zebra Marty, hipopotam Gloria ve zürafa Melman, New York'taki hayvanat bahçesinde yaşayan çok iyi dört arkadaşlardır. 10 senedir hayvanat bahçesinde bulunan zebra Marty, artık bu rutin hayatından sıkılmaya başlamıştır ve bu sıralarda hayvanat bahçesinden kaçmaya çalışan 4 penguenin kendi yaşam alanına gelmesi ile onların doğaya kaçmak istediklerini öğrenir. Bunun üzerine doğaya gitmek için istek duyan Marty, doğum gününde arkadaşları ile birlikte iken, doğaya gitmek için dilek dileyecek ve sonrasında herkes uyuduğunda tek başına hayvanat bahçesinden kaçıp, oradan doğal alanlara ulaşmak için tren istasyonuna gidecektir.</p>
&nbsp;
<hr>
<h5>Buz Devri</h5>
<a href="https://www.youtube.com/watch?v=i4noiCRJRoE">Fragman</a>
<img src="https://tr.web.img3.acsta.net/pictures/bzp/01/35784.jpg" width="100" height="100" border="0" align="right"/>
<p>Dünya, 20 bin yil önce güzelliklerin yaninda bir o kadar da tehlikelidir. Buz Çagi'nın baslangicina az bir zaman kala gezegenin dev yaratiklari ve daha küçük olanlardan bazilari soguktan korunmak için güneye göç etmektedir. Bunlara katılmayan iki kisi vardir.</p>
&nbsp;
<hr>

{% endblock body %}


