{% extends "layout.html" %}

{% block body %}

<style>
      body {
        background-image: url('https://im.haberturk.com/2022/09/26/ver1664180260/3523667_1920x1080.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
      }
    </style>

<body>
 <div style="background: #DEB887;" class="jumbotron text-center">
    <font size="6" face="Arial" color="#8B0000">Sinema Salonumuza Hoşgeldiniz</font>
    <hr>
    <font size="4" face="Arial" color="	#8B0000">Bu siteden vizyonda olan tüm filmler hakkında bilgi alabilir, Ayrıca istediğiniz film için bilet alabilirsiniz. İyi Seyirler...</font>  
 </div>
</body>

    
{% endblock body %}